{% extends "base.html.twig" %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5 mt-lg-5">
			<div class="mt-3 pt-2">
				<h3 class="text-center">Bienvenue dans votre espace de beauté à domicile
					{{ app.user.nom }}
					🌸 !
				</h3>
			</div>
		</div>
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-9 col-md-9 col-lg-9">
				    {% for message in app.flashes('message') %}
			            <div class="col-9 col-md-9 col-lg-9 ">
				            <div class="alert alert-success text-center" role="alert">{{message}}</div>
				        </div>
			        {% endfor %}
					<div class="card card-profil-user">
						<div class="card-header header-profil-user">
							<h4 class="modal-title text-white text-center">Informations personnelles</h4>
						</div>
						<div class="card-body body-profil-user">
							<div class="mt-1">Nom :</div>
							<div>{{ app.user.nom }}</div>
							<div class="mt-3">Prénom :</div>
							<div>{{ app.user.prenom }}</div>
							<div class="mt-3">Email :</div>
							<div>{{ app.user.email }}</div>
							<div class="row row-bouton-profil">
								<div class="mt-4 col-md-6">
									<a href="{{ path('modifiermoncompte', {'id': app.user.id}) }}" class="btn btn-primary text-center">Modifier le profil</a>
								</div>
								<div class="mt-4 col-md-6">
									<a href="{{ path('modifiermotdepasse', {'id': app.user.id}) }}" class="btn btn-primary text-center">Modifier le mot de passe</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
