{% extends 'base.html.twig' %}

{% block title %}The Women Beauty!{% endblock %}

{% block body %}
 <h1>  Bienvenue chez The Women Beauty </h1>
 <p>  "Prendre soin de son corps c'est donner envie à son âme d'y rester." </p>


 <div class="card-group">
  <div class="card">
    <img src="{{ asset('image/beaute1.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> La beauté du regard</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" type="button">En savoir plus</button>
</div>
    </div>
  </div>
  <div class="card">
    <img src="{{ asset('image/beaute2.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Blanchiment dentaire</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="button">En savoir plus</button>
    </div>
  </div>
  <div class="card">
    <img src="{{ asset('image/beaute10.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Soins visages et corps</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
     <button class="btn btn-primary" type="button">En savoir plus</button>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="{{ asset('image/beaute3.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Faux ongles</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="button">En savoir plus</button>
    </div>
  </div>
  <div class="card">
    <img src="{{ asset('image/beaute8.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beauté des mains et des pieds</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="button">En savoir plus</button>
    </div>
  </div>
  <div class="card">
    <img src="{{ asset('image/beaute6.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Epilations</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary" type="button">En savoir plus</button>
    </div>
  </div>
</div>
{% endblock %}
