{% extends 'base.html.twig' %}

{% block title %}Liste ProduitBoutique{% endblock %}

{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset("css/nuage.css") }}">
{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Liste ProduitBoutique</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Image_alt</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit_boutique in produit_boutiques %}
            <tr>
                <td>{{ produit_boutique.id }}</td>
                <td>{{ produit_boutique.titre }}</td>
                <td>{{ produit_boutique.image }}</td>
                <td>{{ produit_boutique.imageAlt }}</td>
                <td>{{ produit_boutique.prix }}</td>
          
                <td>
                    <a href="{{ path('produit_boutique_show', {'id': produit_boutique.id}) }}" class="btn btn-primary">Consulter</a>
                    <a href="{{ path('produit_boutique_edit', {'id': produit_boutique.id}) }}" class="btn btn-warning m-2">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_boutique_new') }}" class="btn btn-primary">Créer nouveau</a>
{% endblock %}
