{% extends 'base.html.twig' %}

{% block title %}Liste Categorie{% endblock %}

{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset("css/nuage.css") }}">
{% endblock %}

{% block body %}
     <h1 class="my-5 text-center">Liste Categorie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Image</th>
                <th>Image_alt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.Titre }}</td>
                <td>{{ categorie.Description }}</td>
                <td>{{ categorie.Image }}</td>
                <td>{{ categorie.ImageAlt }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}"class="btn btn-primary">Consulter</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}"class="btn btn-warning m-2">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
